img.BitcoinLogo{
	width:12.445%;
	height:5.55%;
	padding: 1.83016% 9.1508% 3.6603% 4.7584%;
	float: left;
}

div.a{
	font-family: "Comic Sans MS ";
	font-size: 3.2942%;
	text-align: justify-all;
	padding:5.4904% 7.32% 0% 7.3206%;
}

p{
	font-family: "Comic Sans MS ";
	font-size: 2.5622%;
	text-align: justify-all;
	padding:0% 0% 0% 10.9809%;
}


div.b{
	padding:2.1961% 0% 0% 27.818%;
}

div.footer{
	font-family: "arial";
	padding: 0% 0% 0% 27.818%;
	background-color: #f2f2f2;
}

body{
	background-image:url(http://www.hdfondos.eu/preview/get_photo/207808/800/600)
	
}
div.cajas{
	font-family: "Comic Sans MS";
	text-align: justify-all;
	background-size:all;
	font-size: 1.3177%; 
	border:dashed;
	border-color:#fcbb00;  
}

img.cajas{
	width:5.4904%;
	height:5.4904%;
}


* {
	margin:0%;
	padding:0.3660%;
}
			
#header {
	margin:auto;
	width:732.0644%;
	font-family:Arial, Helvetica, sans-serif;
}
			
ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
}
			
.nav li a {
	background-color:#fcbb00;
	color:#fff;
	text-decoration:none;
	padding:0.73206% 0.878477%;
	display:block;
	}
			
.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:10.2489%;
	}
			
.nav li:hover > ul {
	display:block;
	}
			
.nav li ul li {
	position:relative;
	}
			
.nav li ul li ul {
	right:-10.2489%;
	top:0%;
}

label,input,option {
   width: 25%;
   float: left;
   font-style: Arial;
   font-size: 1.0980%;
   font-weight: bold;
}

div.button{
   font-style: Arial;
   font-size: 1.0980%;
   font-weight: bold;
}
